/* botoes */
.body {
	position: absolute;

	height: 100%;
	width: 100%; 

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main {
	background-color: transparent;

	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

	.container{

		height: 40%;

		background-color: transparent;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		margin-top:2rem;

	}


.nome{
	text-align: center;
	font-size: 4rem;
}
.botoes{
	margin-top: 1rem; 
	width: 120px;
}
